.trailer_player {
    display: flex;
    flex-direction: column;
    justify-content: center
}
.trailer_player img {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}
iframe {
    height: 89vh;
    margin: 30px auto 10px;
    border-radius: 4px;
}
.trailer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto 10px;
    font-weight: 500;
    letter-spacing: 1px;
}