.cards_section {
    margin: 50px 0;
    width: 1423px;
    max-width: 1423px;
}
.card_list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card_list::-webkit-scrollbar {
    display: none;
}
.card_Heading {
    margin-bottom: 8px;
}
.card .image {
    border-radius: 8px;
    width: 240px;
}
.card {
    position: relative;
    cursor: pointer;
}
.card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
}