:root {
    --mainTransition: 0.3s;
}
.footer {
    padding: 35px 4%;
    margin: 0 auto;
    max-width: 1000px;
}
.icons {
    display: flex;
    gap: 15px;
}
.icons img {
    width: 33px;
    cursor: pointer;
    background-color: rgb(50, 49, 49);
    padding: 6px;
    transition: var(--mainTransition);
    border-radius: 1px;
}
.icons img:nth-child(1):hover {
    background: #CD201F;
}
.icons img:nth-child(2):hover {
    background: #1DA1F2;
}
.icons img:nth-child(3):hover {
    background: #E4405F;
}
.icons img:nth-child(4):hover {
    background: #1877F2;
}
.footer_links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin: 35px 0;
}
.footer_links li {
    cursor: pointer;
    transition: var(--mainTransition);
}
.footer_links li:hover {
    color: rgb(192, 192, 192);
}
.copy_right_text {
    text-align: center;
    color: gray;
    font-size: 14px;
}
.copy_right_text p {
    display: inline;
    padding-left: 5px;
}